<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="webforms_result_submit">
        <observer name="custom_webforms_zapier" instance="MageMe\WebFormsZapier\Observer\SendToZapier"/>
    </event>
</config>